<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold my-5">Master: <%= render "masters/name", master: @master %><%= link_to "âœï¸" , edit_master_path(@master) %></h1>

<%= render @master %>
